# Meson build directory
build/
build-binary/

# Object files & compiled binaries
*.o
*.so
*.a
puls-diskinfo
puls-diskinfo-helper

# Editors & IDEs
.vscode/
.idea/
*~
*.swp
*.patch
*.diff
*.log

# Python cache (if any used by meson)
__pycache__/
*.pyc
